body {
    font-family:Cambria;
    margin: 0px;
    background-color:Yellow;
}
h1 {
    text-align: center;
    color: yellow;
    height: 50px;
    margin: 0px;
    background-color: blue;
}
table.computer {
    border: 3px solid white;
    border-spacing: 15px;
    font-family: Calibri;
    margin: auto;
    text-align: right;
}
.computer th {
    color: blue;
}

span {
    color: Red;
}
.button {
    height: 30px;
    width: 100px;
}
.error{
    font-size:8pt;
    color: red;
}
